# Port Settings
WEB_CLIENT_PORT=3000
BACKEND_PORT=3001
RL_APP_PORT=8000

# Service URLs
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
RL_SERVICE_URL=http://localhost:8000

# Game Settings
AI_TICK_RATE_MS=500
